.main {
  background-color: rgb(218, 243, 250);
  height: 100vh;
  overflow: scroll;
  color: black;
  display: flex;
  justify-content: center;
}

.innerContent {
  width: 70%;
}

.item {
  background-color: rgb(233, 245, 249);
  padding: 24px;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.itemRight {
  margin-left: 24px;
}

.img {
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}